<!-- <div class="fixed-bottom"> -->
    <div class="container">
        <div class="row">
            <div class="footer center col-md-8 col-xs-12 col-sm-12">
                <p class="text-center">
                    <a href="https://facebook.com/enumox" target="_blank">  <span class="social-media"> <i class="fab fa-2x fa-discord"></i>  </span> </a>
                    <a href="https://twitter.com/enumoxstudio" target="_blank">  <span class="social-media"> <i class="fab fa-2x fa-twitter-square"></i> </span> </a>
                    <a href="https://facebook.com/enumox" target="_blank">  <span class="social-media"> <i class="fab fa-2x fa-facebook-square"></i>  </span> </a>
                    <a href="https://instagram.com/enumox" target="_blank">  <span class="social-media"> <i class="fab fa-2x fa-instagram"></i> </span> </a>
                </p>
                <p class="text-center">Copyright Enumox 2018</p>
            </div>
        </div>
    </div>
